/*
Create an external stylesheet so the provided HTML produces the following web page:

Example rattlesnake web page screenshot

Add CSS rules to styles.css for the given news article web page that matches the following styling:

Both article's images styled with a width of 300px
Article's <h1> tag styled with:
5px padding all around
Font family of Arial
Font size of 24px
Font color of white
Background color of red
Selecting the id of author-name-and-date, style the author name and date with:
Font family of Arial
Font size of 12px
Font color of lightgray
Article's text (<p> and <ol> tags) styled with:
Font family of Times New Roman
Font size of 16px
Font color of gray
Article's share links (<a> tags) styled with:
Font family of Arial
Font size of 12px
Font color of blue
Note: Colors, font sizes, padding, etc. must be exact.
*/
img {
    width: 300px;
}

h1 {
    padding: 5px;
    font-family: Arial;
    font-size: 24px;
    color: white;
    background-color: red;
}

#author-name-and-date {
    font-family: Arial;
    font-size: 12px;
    color: lightgray;
}

p, ol {
    font-family: "Times New Roman";
    font-size: 16px;
    color: gray;
}

a {
    font-family: Arial;
    font-size: 12px;
    color: blue;
}