/*
Download the ZIP file below containing an HTML and CSS file. Add the necessary CSS rules to styles.css so the provided HTML produces the following webpage:

Webpage design for auto loan lab

The following style rules should be added to styles.css:

The default fonts (in order of priority) should be Roboto, Helvetica, and sans-serif.

The heading "Comparison of Dealer Incentives and Loan Offers" should be 16px font using color #444444.

Define a container class with centered text, a 5 pixel margin, and a font size of 13px.

Each offer is defined in a <section> tag with the class offer. Define the offer class so that:

Each offer is displayed inline-block, with a fixed width of 400 pixels, a 4 pixel margin, and centered text
Each offer has a 1 pixel solid border using color #cccccc

The offer title is defined in an <h2> tag with offer-title class. Define the offer-title class so that:

The title uses 14px bold font with color #ffffff
The title's background is colored #00b3b3
The title has no margin and 15 pixels of padding

The offer contents are defined in a <div> tag with class offer-contents. Define the offer-contents class so that:

Each offer contents div has 20 pixels of padding and background colored #fafafa

Define CSS rules such that all tables have the following styling:

The table should have a width of 100%, background colored #ffffff, and no border spacing
Header cells should use a 12px bold font with color #777777
Data cells should use a font lighter than normal weight with color #444444
Header cells should have 10 pixels of padding and no margin
Data cells should have 10 pixels of padding on the left and right, 20 pixels of padding on top and bottom, and no margin
Both header cells and data cells should left align text
Both header cells and data cells should have a solid bottom border of 1 pixel using color #f1f1f1

Define a final-value class that defines a bold font weight with color #2222ff.
*/
:root {
    font-family: Roboto, Helvetica, sans-serif
}

h1 {
    font-size: 16px;
    color: #444444
}

.container {
    text-align: center;
    margin: 5px;
    font-size: 13px;
}

.offer {
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
}

.offer-title {
    font-size: 14px;
    font: bold;
    color: #ffffff;
    background-color: #00b3b3;
    margin: none;
    padding: 15px;
}

.offer-contents {
    padding: 20px;
    background-color: #fafafa;
}

table {
    width: 100%;
    background-color: #ffffff;
    border: none;
}

th {
    font-size: 12px;
    font-weight: bold;
    color: #777777;
    padding: 10px;
    margin: none;
    text-align: left;
    border-bottom: 1px;
    border-color: #f1f1f1;
}

td {
    font-weight: lighter;
    color: #444444;
    padding: 20px 10px;
    margin: none;
    text-align: left;
    border-bottom: 1px;
    border-color: #f1f1f1;
}

.final-value {
    font-weight: bold;
    color: #2222ff;
}